<h1>Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objective" data-toc-modified-id="Objective-1">Objective</a></span></li><li><span><a href="#Long-format" data-toc-modified-id="Long-format-2">Long format</a></span></li><li><span><a href="#Relational-databases" data-toc-modified-id="Relational-databases-3">Relational databases</a></span><ul class="toc-item"><li><span><a href="#Join" data-toc-modified-id="Join-3.1">Join</a></span></li></ul></li></ul></div>

In [1]:
import os

os.chdir('examples')

# Relational databases

In the [lesson on files](files.ipynb) we learned about a few different text formats that we can use to store data. And when we came to learn about [data analysis](data_analysis.ipynb), we focused in particular on the concept of organizing data in a table of rows and columns (or a '[data frame](extras/glossary.ipynb#dataframe)'), which can be accomplished for example in a [csv](extras/glossary.ipynb#csv) file.

## Objective

The csv table format is great for many different data storage tasks. However, it has its limitations. To get an idea of what these limitations are and why they are important, let's set ourselves another toy task.

We would like to create a file that stores information about our favorite songs. The file should store the names of the songs, along with some other information:

* the name of the album that the song is from
* the position of the song in the album
* what year the album was released
* the name of the artist that made the album
* what country the artist is from

We would like to be able to view different columns and subsets of our data file, for example to see all the songs from a particular album, or the earliest album by a particular artist, etc. And because our friends are constantly recommending new music for us, we would also like to be able to keep inserting new songs into the file.

## Long format

We can of course already accomplish this task with a csv file. I have provided one as an example, [songs.csv](examples/data/songs.csv). Let's load it and see what it looks like.

In [2]:
import os
import pandas

songs_df = pandas.read_csv(os.path.join('data', 'songs.csv'))

songs_df[:20]

,Artist,Country,Album,Year,Song,Number
0,Blue Öyster Cult,USA,Agents of Fortune,1976,This Ain’t the Summer of Love,1
1,Blue Öyster Cult,USA,Agents of Fortune,1976,True Confessions,2
2,Blue Öyster Cult,USA,Agents of Fortune,1976,(Don’t Fear) The Reaper,3
3,Blue Öyster Cult,USA,Agents of Fortune,1976,E.T.I. (Extra Terrestrial Intelligence),4
4,Blue Öyster Cult,USA,Agents of Fortune,1976,The Revenge of Vera Gemini,5
5,Blue Öyster Cult,USA,Agents of Fortune,1976,Sinful Love,6
6,Blue Öyster Cult,USA,Agents of Fortune,1976,Tattoo Vampire,7
7,Blue Öyster Cult,USA,Agents of Fortune,1976,Morning Final,8
8,Blue Öyster Cult,USA,Agents of Fortune,1976,Tenderloin,9
9,Blue Öyster Cult,USA,Agents of Fortune,1976,Debbie Denise,10
10,Blue Öyster Cult,USA,Club Ninja,1985,White Flags,1
11,Blue Öyster Cult,USA,Club Ninja,1985,Dancin' in the Ruins,2
12,Blue Öyster Cult,USA,Club Ninja,1985,Make Rock Not War,3
13,Blue Öyster Cult,USA,Club Ninja,1985,Perfect Water,4
14,Blue Öyster Cult,USA,Club Ninja,1985,Spy in the House of the Night,5
15,Blue Öyster Cult,USA,Club Ninja,1985,Beat 'Em Up,6
16,Blue Öyster Cult,USA,Club Ninja,1985,When the War Comes,7
17,Blue Öyster Cult,USA,Club Ninja,1985,Shadow Warrior,8
18,Blue Öyster Cult,USA,Club Ninja,1985,Madness to the Method,9
19,Blue Öyster Cult,USA,Fire of Unknown Origin,1981,Fire of Unknown Origin,1

One minor disadvantage of the csv format may already strike you when you look at the first few rows above: There is a lot of repetition in this file. The first few songs are all from the album 'Agents of Fortune'. In order to associate all these songs with this album and its year of release, there is really no alternative to just repeating the same album information on every row to which it applies. Likewise, the first few albums are all by the legendary rock band 'Blue Öyster Cult', so the name and country of the band must be repeated over many rows.

This format, in which the complete set of information for each observation is contained on every row, even if this means repeating the same combinations of values many times, is sometimes known in data analysis as the 'long format'. Its great advantage is that it ensures that each row is self-contained and complete; one row gives all the information we need about that observation. One of its disadvantages is inefficiency; if the file contains many observations, it will contain a lot of redundant text, taking up storage space unnecessarily, and making it computationally slower to load the file and search in it.

## Relational databases

In order to avoid repeating text unnecessarily, we need multiple tables. We need separate tables for songs, albums, and artists, so that each row in each of these tables contains the information for just one unique song, album, or artist. For each song, we could then just refer to the relevant row in the 'albums' or 'artists' tables when we need this extra information, rather than repeating it throughout the 'songs' table. The repetitive columns in the 'songs' table would be replaced by a single 'album' column that just notes which album in the 'albums' table that song belongs to. Ideally, this 'linking' column should contain compact abbreviations, such as ID numbers for the albums, rather than the full album names.

If you are having trouble imagining what such a data file would look like, just consider the 'sheets' functionality of a spreadsheet program like Microsoft Excel. Most spreadsheet programs allow for multiple tables in the same file, each table stored in a separate sheet. Take a look at the example file [songs.xlsx](examples/data/songs.xlsx). We will load the separate sheets in this file into Python in a moment, but to get an overview of the file's structure it is probably easier to just open it in your preferred spreadsheet program, like Excel or OpenOffice.

Here is the 'songs' sheet:

In [3]:
filepath = os.path.join('data', 'songs.xlsx')
songs = pandas.read_excel(filepath, sheet_name='songs')

songs[:20]

                                       Song  Number  AlbumID
0             This Ain’t the Summer of Love       1        0
1                          True Confessions       2        0
2                   (Don’t Fear) The Reaper       3        0
3   E.T.I. (Extra Terrestrial Intelligence)       4        0
4                The Revenge of Vera Gemini       5        0
5                               Sinful Love       6        0
6                            Tattoo Vampire       7        0
7                             Morning Final       8        0
8                                Tenderloin       9        0
9                             Debbie Denise      10        0
10                              White Flags       1        1
11                     Dancin' in the Ruins       2        1
12                        Make Rock Not War       3        1
13                            Perfect Water       4        1
14            Spy in the House of the Night       5        1
15                              Beat 'Em Up       6        1
16                       When the War Comes       7        1
17                           Shadow Warrior       8        1
18                    Madness to the Method       9        1
19                   Fire of Unknown Origin       1        2

The album information for each song has here been replaced by a single 'AlbumID' column. This column states which row in the album table each song comes from, without duplicating all the album information.

The album information is in turn contained in a separate table in which each album appears only once:

In [4]:
albums = pandas.read_excel(filepath, sheet_name='albums')

albums

                      Album  Year  ArtistID
0         Agents of Fortune  1976         0
1                Club Ninja  1985         0
2    Fire of Unknown Origin  1981         0
3                  Spectres  1977         0
4   The Revölution by Night  1983         0
5               I’m No Hero  1980         1
6            The Young Ones  1961         1
7       Clutching at Straws  1987         2
8       Misplaced Childhood  1985         2
9    El disco de tu corazón  2007         3
10        Sin restricciones  2004         3
11        All Around My Hat  1975         4
12           Below the Salt  1972         4
13          Commoners Crown  1975         4
14   Hark! The Village Wait  1970         4
15           Now We Are Six  1974         4
16         Parcel of Rogues  1973         4
17   Please to See the King  1971         4
18          Storm Force Ten  1977         4

And finally, the same pattern is repeated in order to link the albums to the information about their respective artists. The 'ArtistID' column in the albums table refers to the corresponding row of the artists table:

In [5]:
artists = pandas.read_excel(filepath, sheet_name='artists')

artists

             Artist Country
0  Blue Öyster Cult     USA
1     Cliff Richard      GB
2         Marillion      GB
3           Miranda      RA
4     Steeleye Span      GB

The basic principle here is that integer row IDs 'relate' the rows in one table to those in one or more other tables. This general concept of multiple linked tables is often called a 'relational database', and it is well suited to cases in which the data have a certain hierarchical or interconnected structure. In our case, we have a hierarchical structure in which songs are grouped within albums, which are grouped within artists.

### Join

A relational database provides a tidy, efficient way of storing more complex data. However, when we actually come to view the data and work with them, we will often need to 'reunite' the information from multiple tables and get back to a 'long format' table, at least temporarily. For example, we might want to see a table of all the albums by artists from the UK. Since the artists' country of origin is contained in the artists table, we need to put this table together with the albums table before we can select albums by country.

The process of reuniting related information from more than one table in a relational database is known as 'joining' the tables. `pandas.DataFrame`s have a `join()` [method](extras/glossary.ipynb#method) for this operation. The first [argument](extras/glossary.ipynb#argument) is the additional table we want to join, and the `on` argument is the column that specifies which rows in this table relate to which rows in the first table:

In [6]:
albums_artists = albums.join(artists, on='ArtistID')

albums_artists

                      Album  Year  ArtistID            Artist Country
0         Agents of Fortune  1976         0  Blue Öyster Cult     USA
1                Club Ninja  1985         0  Blue Öyster Cult     USA
2    Fire of Unknown Origin  1981         0  Blue Öyster Cult     USA
3                  Spectres  1977         0  Blue Öyster Cult     USA
4   The Revölution by Night  1983         0  Blue Öyster Cult     USA
5               I’m No Hero  1980         1     Cliff Richard      GB
6            The Young Ones  1961         1     Cliff Richard      GB
7       Clutching at Straws  1987         2         Marillion      GB
8       Misplaced Childhood  1985         2         Marillion      GB
9    El disco de tu corazón  2007         3           Miranda      RA
10        Sin restricciones  2004         3           Miranda      RA
11        All Around My Hat  1975         4     Steeleye Span      GB
12           Below the Salt  1972         4     Steeleye Span      GB
13          Commoners Crown  1975         4     Steeleye Span      GB
14   Hark! The Village Wait  1970         4     Steeleye Span      GB
15           Now We Are Six  1974         4     Steeleye Span      GB
16         Parcel of Rogues  1973         4     Steeleye Span      GB
17   Please to See the King  1971         4     Steeleye Span      GB
18          Storm Force Ten  1977         4     Steeleye Span      GB

And now we can filter the albums by country:

In [7]:
albums_artists[albums_artists['Country']=='GB']

                     Album  Year  ArtistID         Artist Country
5              I’m No Hero  1980         1  Cliff Richard      GB
6           The Young Ones  1961         1  Cliff Richard      GB
7      Clutching at Straws  1987         2      Marillion      GB
8      Misplaced Childhood  1985         2      Marillion      GB
11       All Around My Hat  1975         4  Steeleye Span      GB
12          Below the Salt  1972         4  Steeleye Span      GB
13         Commoners Crown  1975         4  Steeleye Span      GB
14  Hark! The Village Wait  1970         4  Steeleye Span      GB
15          Now We Are Six  1974         4  Steeleye Span      GB
16        Parcel of Rogues  1973         4  Steeleye Span      GB
17  Please to See the King  1971         4  Steeleye Span      GB
18         Storm Force Ten  1977         4  Steeleye Span      GB

## Constraints